.container {
  width: 250px;
  height: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 2px;

  &:hover {
    border: 1px solid var(--element-hover-border);
    border-radius: var(--round);
  }

  .searchicon {
    width: 1em;
    height: 1em;
    fill: red;
  }
  .searchbar {
    width: 100%;
    height: 100%;
    color: var(--text);
    outline: none;
    background-color: var(--element-background);
    border: 1px solid var(--element-border);

    &::placeholder {
      color: var(--placeholder);
    }

    // &:focus-visible {
    //   border: 1px solid var(--focus-visible);
    //   border-radius: var(--round);
    // }
  }
}
